.footer {
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: center;
    width: 100%;
    padding: 60px 0;
    background-color: #111418;
    color: #fff;
    font-family: "Work Sans", sans-serif;
  }
  
  .content {
    position: relative;
    text-align: left; /* Aligns text to the left */
    width: 100%;
    margin-left: 12%;
    font-size: 1.2rem;
  }
  
  .underline {
    position: relative;
    cursor: pointer;
    color: #F5DF4E ;
  }
  
  .underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjust for proper spacing under the text */
    width: 100%;
    height: 1px;
    background-color: #fff;
  }