.logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}


.logo a {
    width: 64px;
    height: 64px;
    background-color: #333333;
    /* Replace with your color */
    color: white;
    /* Replace with your color */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}