/* Adjust the path to your font or use a web-safe font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

.navbar {
    width: 100%;
    padding: 32px 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.navbar a {
    color: #333333;
    text-decoration: none;
    font-size: 100%;
    font-weight: 600;
    margin-right: 32px;
    position: relative;
    transition: color 0.3s;
}

.navbar a:last-child {
    margin-right: 0;
}

.navbar a:hover,
.navbar a.active {
    color: #F5DF4E;
    transition: width 0.3s ease-in;
}

.span,
.span_absent {
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
}

.navbar a:hover .span,
.navbar a.active .span {
    width: 100%;
}